.navigation-music{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-iteractive{
  display: flex;
  background-color: #eeeeee;
  border-radius: 2rem;
  list-style: none;
  
  padding: 0;

  a{
    color: black;
    padding: 10px;

    &.active{
      color: #ffffff;
    }
  }

  li{
    padding: 0 1rem;
    cursor: pointer;
  }

  li.active {
    border-radius: 2rem;

    
  }
  
}