<div class="page-login">
  <div class="main-content">
    <div class="main-loader pagecomplete"*ngIf="displayLoader">
      <div class="spinner-border text-info " role="status"></div>
    </div>

    <div class="content">
      <div class="imagen"><img src="../../../assets/download.png"></div>
      <div class="title">
        <h1>Página en mantenimiento</h1>
      </div>
      <div class="description">

      <p>Espero que se encuentre bien. Queremos informarle que actualmente nos encontramos en un proceso de mantenimiento planificado para mejorar nuestra página web y la experiencia que ofrecemos. Durante este período, es posible que experimente ciertas interrupciones en el servicio normal.</p>

      <p>Para garantizar que su tienda siga teniendo una ambientación musical adecuada durante este tiempo, le recomendamos utilizar nuestro sistema de backup de contingencia. Este sistema está configurado para proporcionar una experiencia musical constante y agradable mientras llevamos a cabo el mantenimiento necesario.</p>
      </div>
    </div>

  </div>
</div>
