.page-home{
  height: 100svh;

  .menu-navigation{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;

    .title{
      margin-left: 10px;

      h1{
        font-size: 26px;
        margin: 0;
        letter-spacing: 0px;
      }
    }
  }

  .main-content {
    /* flex-direction: column;
    display: flex; */
  }

  .widget-music{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    padding-top: 4rem;
  }

  .container-menu-widget{
    max-width: 900px;
    width: 100%;
    margin: auto;
  }

  .container-item-list{
    max-width: 900px;
    width: 100%;
    overflow-y:scroll;
    height: 70%;
    margin: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    color: #ffffff;

    .info-text{
      margin-left: 10px;
    }

    .item-list{
      padding: 16px;
      border-radius: 1rem;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      p{
        margin: 0;
      }
    }
  }

  .icon-add{
    margin-left: auto;
    cursor: pointer;
  }

  .alert{
    position: fixed;
    left: 0;
    right: 0;
  }
  
}
