<div class="page-home">
  <div class="main-loader pagecomplete"*ngIf="displayLoader">
    <div class="spinner-border text-info " role="status"></div>
  </div>
  <div class="main-content" *ngIf="!content.error">
    <div class="menu-navigation" [style.background-color]="content.client.color_primario">
      <div class="logo">
        <img *ngIf="content" [src]="content.client.logo.url" [alt]="content.client.title" width="60">
      </div>
      <div class="title">
        <h1>{{content.title}}</h1>
      </div>
    </div>
    <ngb-alert *ngIf="alerts" [type]="alerts.type" (closed)="close()" class="alert-login">{{ alerts.message }}</ngb-alert>
    <div class="widget-music" [style.background-image]="'url(' + content.client.imagen_de_fondo.url + ')'">
      <div class="container-menu-widget">
        <app-options-menu [listItems]="navItems" (itemSelect)="loadComponent($event)" [backgroudColor]="content.client.color_primario"></app-options-menu>
      </div>
      <div [ngSwitch]="selectedComponent.id" class="container-item-list">
        <div *ngSwitchCase="'request_song'" class="animate-switch">
          <app-search-songs (listSong)="listSongByTitle($event)" [pos]="pointOfSale"></app-search-songs>
          <div *ngIf="!searchSongs">
            <div class="item-list" [style.background-color]="content.client.color_primario" *ngFor="let item of content.songs">
              <img [src]="item.art" width="60" height="60">
              <div class="info-text">
                <p><strong>{{item.title}}</strong></p>
                <p class="text-cort">{{item.artist}}</p>
              </div>
              <mat-icon class="icon-add" (click)="addResquestLog(item)">note_add</mat-icon>
            </div>
          </div>
          <div *ngIf="searchSongs">
            <div class="item-list" [style.background-color]="content.client.color_primario" *ngFor="let item of searchSongs">
              <img [src]="item.art" width="60" height="60">
              <div class="info-text">
                <p><strong>{{item.title}}</strong></p>
                <p class="text-cort">{{item.artist}}</p>
              </div>
              <mat-icon class="icon-add" (click)="addResquestLog(item.id)">note_add</mat-icon>
            </div>
          </div>
        </div>
        <app-request-songs *ngSwitchCase="'in_cola'" class="animate-switch" [poSale]="pointOfSale" [backGroundColor]="content.client.color_primario">
        </app-request-songs>
      </div>
    </div>
  </div>
  <div *ngIf="content.error && !displayLoader">
    <app-pagenotfound></app-pagenotfound>
  </div>
</div>