/* .page-login{
  height: 100svh;
}

.content-form{
  text-align: center;
}

.main-content{
  display: flex;
  align-items: center;

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  .content-form{
    width: 50%;

    .form-signin{
      padding: 0 2rem;
      text-align: left;
      max-width: 450px;
      margin: auto;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .image-found{
    width: 50%;
    display: block;
    height: 100%;
    background-image: url(../../../assets/login_bg.png);
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  label{
    display: block
  }

  .form-field{
    margin-bottom: 20px;
    position: relative;
  }

  .show-password{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
  }
}

.alert-login{
  margin: 1rem;
} */

.page-login{
  height: 100svh;


  .content-form{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .form-signin{
    width: 40%;
    text-align: center;
    justify-content: end;
    margin: 3rem;

    form{
      width: 70%;
      margin: auto;
    }
    

    .image-icon-background{
      img{
        width: 100%;
      }
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    .form-field{
      display: flex;
      border: 1px solid #D1D1D1;
      align-items: center;
      position: relative;
      margin-bottom: 1rem;
      justify-content: space-between;
    }

    .icon-field{
      color: #D1D1D1;
      font-size: 2rem;
      width: 10%;
      height: 35px;
    }

    .show-password{
      position: absolute;
      right: 17px;
      bottom: 17px;
      cursor: pointer;
    }

    .form-control{
      padding: 1rem;
      width: 90%;
      border-radius: 0;
      background-color: #D1D1D1;
    }
  }

  .btn-submit{
    border-radius: 0;
    font-size: 2rem;
  }
  
}

