.page-login{
  height: 100svh;
  background-color: #000000;

  .main-content{
    background-image: url('../../../assets/login_mobile/webp/fondo-mobile.webp');
    background-position: top left;
    background-size: 38rem;
    display: flex;
    align-items: center;
  }

  .content-form{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 95%;
    width: 90%;
    margin: auto;
    background-image: url('../../../assets/login_mobile/webp/fondo_sgundario.webp');
    flex-direction: column;
    justify-content: space-around;

    @media only screen and (min-width: 600px) {
      flex-direction: inherit;
    }

    .form-background{
      overflow: hidden;
      img{
        object-fit: cover;
        object-position: center bottom;
        width: 100%;
        display: block;
        height: 100%;
      }
      @media only screen and (min-width: 600px) {
        width: 50%;
      }
    }
  }

  .form-signin{
    width: 100%;
    text-align: center;
    justify-content: end;
    margin: 1rem 0;
    padding: 0px 0;

    @media only screen and (min-width: 600px) {
      width: 50%;
    }

    form{
      width: 85%;
      margin: auto;
    }

    .image-icon-background{
      img{
        width: 70%;
      }
    }

    .form-field{
      display: flex;
      border: 1px solid #D1D1D1;
      align-items: center;
      position: relative;
      margin-bottom: 1rem;
      justify-content: space-between;
    }

    .icon-field{
      color: #D1D1D1;
      width: 10%;
      font-size: 25px;
      height: 28px;
    }

    .show-password{
      position: absolute;
      right: 17px;
      bottom: 17px;
      cursor: pointer;
    }

    .form-control{
      padding: 10px;
      width: 90%;
      border-radius: 0;
      background-color: #D1D1D1;
    }
  }

  .btn-submit{
    border-radius: 0;
    font-size: 1rem;

    @media only screen and (max-width: 600px) {

    }
  }

}

