
<div class="page-home">
  <div class="main-content" *ngIf="accessConection">
    <div class="menu-navigation" [style.background-color]="currentCustomer.color_primario">
      <div class="user-actions">
        <p>{{currentUser.nombre}} {{currentUser.apellido}}</p>
        <mat-icon class="icon-exit" (click)="exitUser()">exit_to_app</mat-icon>
      </div>
    </div>
    <div class="main-loader" *ngIf="displayLoader">
      <div class="spinner-border text-info " role="status"></div>
    </div>
    <div *ngIf="nextSong.error" class="widget-music error" [class]="displayLoader ? 'hidden' : ''">
      <p>Hubo un error al cargar el audio, por favor validar el automatizador (se pasará la siguiente cación)</p>
    </div>
    <div *ngIf="nextSong.url" class="widget-music" [class]="displayLoader ? 'hidden' : ''" [style.background-image]="'url(' + currentCustomer.imagen_de_fondo.url + ')'">
      <audio controls id="player" (timeupdate)="updateTime($event)" hidden (ended)="finishSong()">
      </audio>
        <div class="container-musis" [style.border]="'10px solid '+ currentCustomer.color_primario">
          <div class="container-rows">
            <div class="item-row d7">
              <div class="info-text" [style.border]="'5px solid '+ currentCustomer.color_primario">
                <div class="song-info-detail" [style.border-bottom]="'5px solid '+ currentCustomer.color_primario">
                  <mat-icon class="icon-info">record_voice_over</mat-icon> 
                  <p class="text-relative text-cort">{{nextSong.artist}}</p>
                </div>
                <div class="song-info-detail">
                  <mat-icon class="icon-info">audiotrack</mat-icon> 
                  <p class="text-relative">{{nextSong.title}}</p>
                </div>
              </div>
              
              <div class="info-actions">
                <div class="status-container">
                  <mat-icon 
                  class="action-icon" 
                  [style.border]="'5px solid '+ currentCustomer.color_primario" 
                  [style.color]="currentCustomer.color_secundario" 
                  (click)="onPlay()">
                    play_arrow
                  </mat-icon>
                  <mat-icon  
                  class="action-icon" 
                  [style.border]="'5px solid '+ currentCustomer.color_primario" 
                  [style.color]="currentCustomer.color_secundario" 
                  (click)="onPuase()"
                  >
                    stop
                  </mat-icon>
                </div>
                
                <div class="container-volume">
                  <mat-icon 
                  class="icon-volume" 
                  [style.color]="currentCustomer.color_secundario"
                  (click)="actionVolume(false)"
                  >remove</mat-icon>
                  <mat-slider
                  class="volume-bar" 
                  color="primary"
                  thumbLabel
                  [min]="0"
                  [max]="100"
                  (input)="onVolumeChange($event)"
                  >
                    <input matSliderThumb value="{{volume}}">
                  </mat-slider>
                  <mat-icon
                   class="icon-volume"
                   (click)="actionVolume(true)"
                   [style.color]="currentCustomer.color_secundario"
                   >add</mat-icon>
                </div>
              </div>
            </div>
    
    
            <div class="item-row d3">
              <img class="imagen" *ngIf="currentCustomer.imagen_player" [src]="currentCustomer.imagen_player.url" [alt]="currentCustomer.title" width="400">
            </div>
          </div>
        
      </div>
    </div>
  </div>
  <div class="main-content" *ngIf="!accessConection">
    Sin acceso a internet
    </div>
</div>
