
<div class="page-home">
  <div class="main-content" *ngIf="accessConection">
    <div class="menu-navigation" [style.background-color]="currentCustomer.color_primario">
      <div class="info-site">
        <div class="logo">
          <img *ngIf="currentCustomer" [src]="currentCustomer.logo.url" [alt]="currentCustomer.title" width="60">
        </div>
        <div class="title">
          <h1>{{currentCustomer.title}}</h1>
        </div>
      </div>
      <div class="user-actions">
        <p>{{currentUser.nombre}} {{currentUser.apellido}}</p>
        <mat-icon class="icon-exit" (click)="exitUser()">exit_to_app</mat-icon>
      </div>
    </div>
    <div class="main-loader" *ngIf="displayLoader">
      <div class="spinner-border text-info " role="status"></div>
    </div>
    <div *ngIf="nextSong.error" class="widget-music error" [class]="displayLoader ? 'hidden' : ''">
      <p>Hubo un error al cargar el audio, por favor validar el automatizador (se pasará la siguiente cación)</p>
    </div>
    <div *ngIf="nextSong.url" class="widget-music" [class]="displayLoader ? 'hidden' : ''" [style.background-image]="'url(' + currentCustomer.imagen_de_fondo.url + ')'">
      <audio controls id="player" (timeupdate)="updateTime($event)" hidden (ended)="finishSong()">
      </audio>
      <div class="container-musis" [style.background-color]="currentCustomer.color_primario">
        <div class="item-row">
          <mat-icon *ngIf="!isListen"(click)="onPlay()">play_circle_outline</mat-icon>
          <mat-icon *ngIf="isListen"(click)="onPuase()">pause</mat-icon>
          <img [src]="nextSong.art" width="60" height="60">
          <div class="info-text">
            <p><strong>{{nextSong.title}}</strong></p>
            <p class="text-cort">{{nextSong.artist}}</p>
          </div>
        </div>


        <div class="item-row">
          <mat-icon class="equalizer">equalizer</mat-icon>
          <div class="time">{{ currentTime }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content" *ngIf="!accessConection">
    Sin acceso a internet
    </div>
</div>