<div class="page-home">
  <div class="main-loader pagecomplete"*ngIf="displayLoader">
    <div class="spinner-border text-info " role="status"></div>
  </div>
  <div class="main-content" *ngIf="!content.error">
    <div class="menu-navigation" [style.background-color]="content.color_primario">
      <div class="logo">
        <img *ngIf="content" [src]="content.logo.url" [alt]="content.title" width="60">
      </div>
      <div class="title">
        <h1>{{content.title}}</h1>
      </div>
    </div>
    <div class="widget-music" [style.background-image]="'url(' + content.imagen_de_fondo.url + ')'">
      <audio controls id="player" [src]="urlLive">
      </audio>
    </div>
  </div>
  <div *ngIf="content.error && !displayLoader">
    <app-pagenotfound></app-pagenotfound>
  </div>
</div>
