
<div class="card">
  <div class="card-body card-withoutinternt">
    <p>
      Parece que hemos perdido la conexión a Internet o ha ocurrido algún fallo inesperado. Agradecemos que recargues la página para restablecer la conexión y resolver cualquier otro problema que pueda haber surgido. Gracias por tu comprensión ¡Disfruta de la música!</p>
      <p>Si el problema persiste después de recargar, por favor, comunícate con nuestras líneas de soporte.</p>
      <div class="whatsapp mb-3">
        <a class="btn btn-success" href="https://wa.me/+573015917847?text=Hola, tengo problemas con el reproductor Exea Media en el punto de venta {{pos}}" target="_blank">
          <mat-icon> chat</mat-icon> 3015917847
        </a>
        <a class="btn btn-success" href="https://wa.me/+573012737366?text=Hola, tengo problemas con el reproductor Exea Media en el punto de venta {{pos}}" target="_blank">
          <mat-icon> chat</mat-icon> 3012737366
        </a>
      </div>
      <p><strong>Nota</strong></p>
      <p>Recuerde como plan de contingencia en tu escritorio local, tendrás un backup para que la tienda no se quede sin ambientación musical.
    </p>
    <div class="text-center reload-cotainer">
      <a class="btn" (click)="onNoClick()">Recargar <mat-icon>update</mat-icon></a>
    </div>
    <div class="text-center reload-cotainer">
      <a class="btn" (click)="exitUser()">Salir <mat-icon>exit_to_app</mat-icon></a>
    </div>
  </div>
</div>
